
#port{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}
#portName{
    /* border:1px solid white; */
    width: 50%;
    height: auto;
    position: relative;
    display: block;
    top: 30%;
}
#portName h1{
    color:white;
    position: relative;
    font-size: 6vh;
    margin-left: 10vh;
}
#portSummary{
    position: relative;
    /* border: 1px solid teal; */
    width: 30%;
    height: auto;
    top: 32%;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
}
#portSummary button{
    width: auto;
    height: auto;
    padding: 1vh 2vh;
    cursor: pointer;
    /* background: transparent; */
    border: none;
    box-shadow: 0 0 5px 1px #aaa;
    border-radius: 2.5vh;
    transition: 0.2;
    color: #aaa;
    font-size: 2vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#portSummary button:hover{
    background: white;
    color: black;
}
.bx{
    color:#aaa;
}
.bxl-unity{
    position: absolute;
    font-size: 25vh;
    right: 5%;
    top: 5%;
    animation: scale 7s ease infinite;
}
.bx-loader-circle{
    position: absolute;
    font-size: 40vh;
    right: 5%;
    bottom:5%;
    animation: rotate 3s ease infinite;
}
.bx-shape-triangle{
    position: absolute;
    font-size: 45vh;
    left: 15%;
    top:0%;
    animation: slide 5s ease infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    70%{
        transform: translateX(10vw);
    }
    100%{
        transform: translateX(0);
    }
}
#portPhoto{
    position:absolute;
    width:20%;
    height:80%;
    /* border:1px solid red; */
    top:10%;
    right: 30%;
}
#portPhoto img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#contacts{
    /* border:1px solid red; */
    position:absolute;
    bottom: 20%;
    left:5%;
    width: 12.5%;
    /* height: 20%; */
}
#contacts ul li{
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1vh 0;
    font-size: 2vh;
} 
#contacts ul li p{
    margin-left: 2.5%;
}
#contacts ul li a{
    color: white;
    text-decoration: none;
    margin-left: 2.5%;
}