nav{
    height:10%;
    width:100%;
    /* background:black; */
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:50;
    padding: 10vh 20vh;
    color: silver;
}

nav :is(#logo-section, #navlinks-section){
    position:relative;
    /* border:1px solid white; */
    display: flex;
    flex-wrap: wrap;
    padding:2% 5%;
}
nav #navlinks-section{
    font-size:3vh;
    text-shadow: 0 0 300px black; 
}
nav #logo-section{
    font-weight: bolder;
    text-shadow: 0 0 40px black; 
    font-size:5vh;
}
nav #logo-section h2{

}
nav #navlinks-section p{
    
}